<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style2.css" />
    <style>
      body {
        background-image: url("photos/engg.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        opacity: 5;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center; color: #fff">Engineering Branches</h1>
    <!--<h3>Hover over the image below:</h3>-->
    <div class="row">
      <div class="column">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <br />
              <h1>CSE</h1>
              <!-- <img
                src="photos/cse.jpg"
                alt="Avatar"
                style="width: 300px; height: 300tpx; border-radius: 150px"
              /> -->
              <br />
              <img src="photos/cse1.png" alt="" width="50%" />
            </div>

            <div class="flip-card-back">
              <a href="cse.html">
                <br />
                <h1>CSE</h1>
                <br />
                <p>Computer Science and Engineering</p>
              </a>

              <!-- <p>We love that guy</p> -->
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <br />
              <h1>ENTC</h1>
              <br />
              <img src="photos/entc.png" alt="" width="50%" />
            </div>
            <div class="flip-card-back">
              <a href="entc.html">
                <br />
                <h1>ENTC</h1>
                <br />
                <p>Electronics and Telecommunication Engineering</p>
              </a>
              <!-- <p>We love that guy</p> -->
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <br />
              <h1>CE</h1>
              <br />
              <img src="photos/chem.png" alt="" width="50%" />
            </div>
            <div class="flip-card-back">
              <a href="chem.html">
                <br />
                <h1>CE</h1>
                <br />
                <p>Chemical Engineering</p>
              </a>
              <!-- <p>We love that guy</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Partition-->
    <div class="row">
      <div class="column">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <br />
              <h1>ME</h1>
              <br />
              <img src="photos/mech1.png" alt="" width="50%" />
            </div>
            <div class="flip-card-back">
              <a href="mech.html">
                <br />
                <h1>ME</h1>
                <br />
                <p>Mechanical Engineering</p>
              </a>
              <!-- <p>We love that guy</p> -->
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <br />
              <h1>CE</h1>
              <br />
              <img src="photos/civil.png" alt="" width="50%" />
            </div>
            <div class="flip-card-back">
              <a href="civil.html">
                <br />
                <h1>CE</h1>
                <br />
                <p>Civil Engineering</p>
              </a>
              <!-- <p>We love that guy</p> -->
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <br />
              <h1>EE</h1>
              <br />
              <img src="photos/ele1.png" alt="" width="50%" />
            </div>
            <div class="flip-card-back">
              <a href="electric.html">
                <br />
                <h1>EE</h1>
                <br />
                <p>Electric Engineer</p>
              </a>
              <!-- <p>We love that guy</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
