<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'application/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'application/css/bootstrap.css' %}">
    <title>Document</title>
</head>
<body>

    <h1>Wel-Come</h1>


    {% comment %} JAVASCRIPT START {% endcomment %}
    <script src="{% static 'application/js/jquery.js' %}"></script>
    <script src="{% static 'application/js/popper.js' %}"></script>
    <script src="{% static 'application/js/bootstrap.js' %}"></script>
    {% comment %} JavaScript END {% endcomment %}


</body>
</html>